*{
    margin: 0;
}

nav, #subNavContainer{
    display: flex;
    align-items: center;
}

nav{
    padding: 10px 20px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: fixed;
    right: 0;
    left: 0;
    gap: 20px
}

#logo{
    height: 50px;
    width: 100px;
}

#subNavContainer{
    width: 100%;
    justify-content: space-between;
}

#searchInput{
    width: 50%;
    /* border: 1px solid black; */
    border-radius: 25px;
    padding: 5px 10px ;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* #searchInput input:focus{
    outline: 1px solid rgb(5, 253, 5);
} */

#searchInput input{
    border: transparent;
    background-color: aliceblue;
    outline: none;
}

#searchInput i{
    opacity: 20%;
}
.app-container{
    padding: 100px 100px;
}

.filter-sort-container{
    display: flex;
    gap: 10px;
    padding: 10px;
}

#filter, #sort{
    border-radius: 25px;
    padding: 2px;
}

/* Designed Menu Card */
#foodList{
    display: grid;
    grid-template-columns: repeat(5, 260px);
    justify-content: center;
    
}

.menu-card{
    width: 225px;
    border: 2px solid orange;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.menu-card img{
    height: 150px;
    border-radius: 9px;
}

.food-image{
    /* width: 100%; */
    display: flex;
    justify-content: center;
}

/* Designed menu details */
.rating-container{
    display: flex;
    justify-content: space-between;
}
.rating-container div{
    display: flex;
    gap: 3px;
}

.rating-container i{
    color: yellow;
}